.w-15 {
  width: 15%;
}

.w-85 {
  width: 85%;
}

main {
  width: 60%;
  
  @media screen and (max-width: $media-max-width) {
    width: 85%;
    
  }

}

.social {
  @include respond-to(phone) {
    width: 60%;
  }
}

.email {
  cursor: pointer;
  opacity: 70%;
  font-size: 1rem;
  display: inline-block;

  &:hover {
    color: $primary-color;
  }
}

.title {
  color: $primary-color;
}

.me {
  font-size: 48px;
}

.skills-projects {
  font-size: 2rem;
}

.discord-container {
  position: relative;
  display: inline-block;
}

.notification {
  position: absolute;
  bottom: -40px; 
  left: 50%;
  transform: translateX(-50%);
  background-color: #5562f6;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, bottom 0.3s ease-in-out;
  z-index: 10;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.notification.show {
  display: block;
  opacity: 1;
  bottom: -50px; 
}