// Définir des variables pour les couleurs et les tailles
$primary-color: #00ff80;
$background-color: #060A06;
$border-color: #1A231A;
$font-family-proza: 'Proza Libre';
$font-family-noto: 'Noto Sans';
$media-max-width: 481px;
$transition-duration: 0.3s;
$transition-scale: 1.2;
$techno-img-size: 4.2rem;
$techno-img-size-phone: 3rem;
$techno-used-size: 3rem;
$techno-used-size-phone: 2rem;
$project-link-size: 1.5rem;